<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Art" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\art.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.0"/>
  </system.web>
</configuration>